<div class="container">
  <header class="mb-4 border-bottom">
    <nav class="navbar navbar-expand-md d-flex flex-wrap justify-content-between w-100">
      <a href="/" class="navbar-brand d-flex align-items-center me-auto link-body-emphasis text-decoration-none">
        <span class="material-symbols-outlined">
          draft
        </span>
        <span class="fs-4">createx</span>
      </a>

      <button class="navbar-toggler btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav-pills ms-2 mt-2 mt-md-0">
          {% url 'index' as index_url %}
          {% url 'tex_draft_list' as tex_draft_list_url %}
          {% url 'tex_draft_create' as tex_draft_create_url %}
          {% url 'profile' pk=request.user.pk as profile_url %}
          {% url 'login' as login_url %}
          {% url 'logout' as logout_url %}

          <li class="nav-item"><a href="{% url 'index' %}"
                                  class="nav-link text-primary text-center px-3{% if request.path == index_url %} active text-white{% endif %}"
                                  aria-current="page">Home</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'tex_draft_list' %}"
                 class="nav-link text-primary text-center px-3{% if request.path == tex_draft_list_url %} active text-white{% endif %}">Templates</a>
            </li>
            <li class="nav-item">
              <a href="{{ profile_url }}"
                 class="nav-link text-primary text-center px-3{% if request.path == profile_url %} active text-white{% endif %}">Profile</a>
            </li>
            <li class="nav-item">
              <a href="{{ logout_url }}"
                 class="nav-link text-primary text-center px-3{% if request.path == logout_url %} active text-white{% endif %}">Log
                Out</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'tex_draft_create' %}"
                 class="nav-link text-primary d-flex align-items-center justify-content-center px-3{% if request.path == tex_draft_create_url %} active text-white {% endif %}">
                <span class="material-symbols-outlined">add</span>
                New Template
              </a></li>
          {% else %}
            <li class="nav-item">
              <a href="{{ login_url }}"
                 class="nav-link text-primary text-center px-3{% if request.path == login_url %} active text-white{% endif %}">Log
                In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
</div>