{% load static %}
{% load i18n %}

<header class="mb-3 fs-5">
  <nav class="navbar navbar-expand-md bg-body py-3">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
        <span class="material-symbols-outlined text-primary">
          description
        </span>
        <span>Createx</span>
      </a>

      <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse small" id="navcol-2">
        <ul class="navbar-nav ms-auto">
          {% url 'index' as index_url %}
          {% url 'tex_draft_list' as tex_draft_list_url %}
          {% url 'tex_draft_create' as tex_draft_create_url %}
          {% url 'profile' pk=request.user.pk as profile_url %}
          {% url 'login' as login_url %}
          {% url 'logout' as logout_url %}

          <li class="nav-item">
            <a href="{% url 'index' %}"
               class="nav-link{% if request.path == index_url %} active text-primary{% endif %}"
              aria-current="page">
              {% trans "Home" %}
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'tex_draft_list' %}"
               class="nav-link{% if request.path == tex_draft_list_url %} active text-primary{% endif %}"
              aria-current="page">
              {% trans "Templates" %}
            </a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
            <a href="{{ profile_url }}"
               class="nav-link{% if request.path == profile_url %} active text-primary{% endif %}"
              aria-current="page">
              {% trans "Profile" %}
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ logout_url }}"
               class="nav-link{% if request.path == logout_url %} active text-primary{% endif %}"
              aria-current="page">
              {% trans "Log Out" %}
            </a>
          </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ login_url }}"
                 class="nav-link{% if request.path == login_url %} active text-primary{% endif %}"
                 aria-current="page">
                {% trans "Log In" %}
              </a>
            </li>
          {% endif %}

          <li class="nav-item dropdown">
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ redirect_to }}">
              <select class="nav-link rounded" name="language" onchange="this.form.submit()">
                {% get_available_languages as LANGUAGES %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                    {{ language.name_local }}
                  </option>
                {% endfor %}
              </select>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
