<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="material-symbols-outlined">
        draft
      </span>
      <span class="fs-4">createx</span>
    </a>

{#    <ul class="nav nav-pills">#}
{#      {% url 'index' as index_url %}#}
{#      {% url 'templates_list' as templates_list_url %}#}
{#      {% url 'template_create' as template_create_url %}#}
{#      {% url 'profile' pk=request.user.pk as profile_url %}#}
{#      <li class="nav-item"><a href="{% url 'index' %}"#}
{#                              class="nav-link {% if request.path == index_url %} active {% endif %}"#}
{#                              aria-current="page">Home</a></li>#}
{#      <li class="nav-item"><a href="{% url 'templates_list' %}"#}
{#                              class="nav-link {% if request.path == templates_list_url %} active {% endif %}">Templates</a>#}
{#      </li>#}
{#      <li class="nav-item"><a href="{{ profile_url }}"#}
{#                              class="nav-link {% if request.path == profile_url %} active {% endif %}">Profile</a>#}
{#      </li>#}
{#      <li class="nav-item"><a href="{% url 'template_create' %}"#}
{#                              class="nav-link d-flex align-items-center {% if request.path == template_create_url %} active {% endif %}">#}
{#        <span class="material-symbols-outlined">add</span>#}
{#        New template#}
{#      </a></li>#}
{#    </ul>#}
  </header>
</div>