{% load link_tags %}
{% load i18n %}

{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination mt-3">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="{% generate_list_view_link page=1 search_query=search_query show_user_tex_drafts=show_user_tex_drafts %}"
         class="btn btn-outline-secondary btn-sm rounded">
        <span class="material-symbols-outlined fs-6 align-middle">
          first_page
        </span>
      </a>
      <a href="{% generate_list_view_link page=page_obj.previous_page_number search_query=search_query show_user_tex_drafts=show_user_tex_drafts %}"
         class="btn btn-outline-secondary btn-sm rounded">
        <span class="material-symbols-outlined fs-6 align-middle">
          arrow_back
        </span>
      </a>
    {% endif %}

    <span class="current text-muted">
      {% blocktranslate with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{ current_page }} of {{ total_pages }}{% endblocktranslate %}
    </span>

    {% if page_obj.has_next %}
      <a href="{% generate_list_view_link page=page_obj.next_page_number search_query=search_query show_user_tex_drafts=show_user_tex_drafts %}"
         class="btn btn-outline-secondary btn-sm rounded">
        <span class="material-symbols-outlined fs-6 align-middle">
          arrow_forward
        </span>
      </a>
      <a href="{% generate_list_view_link page=page_obj.paginator.num_pages search_query=search_query show_user_tex_drafts=show_user_tex_drafts %}"
         class="btn btn-outline-secondary btn-sm rounded">
        <span class="material-symbols-outlined fs-6 align-middle">
          last_page
        </span>
      </a>
    {% endif %}
  </span>
</div>
{% endif %}
