{% load static %}
{% load i18n %}

<div class="card border border-light-subtle">
  {%  if tex_draft.first_page %}
    <img class="card-img-top w-100 d-block border-bottom object-fit-cover"
         alt="{{ tex_draft.name }}" src="{% url 'tex_draft_first_page' pk=tex_draft.pk %}"
         style="object-position: top;max-height: 150px;">
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ tex_draft.name }}</h4>
    {% if tex_draft.description %}
      <p class="card-text">{{ tex_draft.description|truncatewords:15 }}</p>
    {% else %}
      <p class="card-text text-muted">{% trans "No description provided..." %}</p>
    {% endif %}
    <a href="{{ tex_draft.get_absolute_url }}" class="btn btn-primary text-white">{%  trans "Open template" %}</a>
  </div>
</div>

