{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col col-md-12 col-l-10 col-xl-8">

      <h2>Create template</h2>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
          <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}">
        </div>
        <div class="mb-3">
          <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
          <textarea class="form-control" id="{{ form.description.id_for_label }}"
                    name="{{ form.description.name }}"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label" for="{{ form.template_file.id_for_label }}">{{ form.template_file.label }}</label>
          <input type="file" class="form-control" id="{{ form.template_file.id_for_label }}"
                 name="{{ form.template_file.name }}">
        </div>
        <div class="mb-3 form-check">
          <label class="form-check-label" for="{{ form.is_public.id_for_label }}">{{ form.is_public.label }}</label>
          <input type="checkbox" class="form-check-input" id="{{ form.is_public.id_for_label }}"
                 name="{{ form.is_public.name }}">
        </div>
        <div class="mb-3 form-check">
          <label class="form-check-label"
                 for="{{ form.is_restricted.id_for_label }}">{{ form.is_restricted.label }}</label>
          <input type="checkbox" class="form-check-input" id="{{ form.is_restricted.id_for_label }}"
                 name="{{ form.is_restricted.name }}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>

{% endblock %}