{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="row">
    <div class="col-md-12 col-lg-5">

      <div class="my-3">
        <h2>
          {{ template.name }}

          <span class="badge bg-primary fs-6 align-middle">
            {% if template.is_public %}
              Public
            {% elif template.is_restricted %}
              Restricted
            {% else %}
              Private
            {% endif %}
          </span>
        </h2>
      </div>

      <div class="my-2">
        {% if user != template.owner %}
          <span class="text-muted">Owner: {{ template.owner.username }}</span>
        {% endif %}
      </div>

      <div>
        <p>{{ template.description }}</p>
      </div>


      <div class="d-flex justify-content-md-between justify-content-xl-start my-2">
        <a type="button" class="btn btn-primary d-inline-flex align-items-center"
           href="{% url 'template_fill' pk=template.pk %}">
        <span class="material-symbols-outlined">
          edit_note
        </span>
          Fill the template
        </a>

        {% if user == template.owner %}
          <a type="button" class="btn btn-secondary d-inline-flex align-items-center ms-2"
             href="{% url 'template_update' pk=template.pk %}">
          <span class="material-symbols-outlined">
            edit
          </span>
            Edit
          </a>
        {% endif %}
      </div>

    </div>

    <div class="col">
      <div class="ratio ratio-1x1 shadow-sm border">
        <iframe src="{% static 'test.pdf' %}"></iframe>
      </div>
    </div>
  </div>


{% endblock %}