{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

  <div class="container">
    <div>
      {% if search_query %}
        <h1>
          {% blocktrans %}Search results for "{{ search_query }}":{% endblocktrans %}
        </h1>
      {% else %}
        <h1>{% trans "Templates" %}:</h1>
      {% endif %}

      <form action="{% url 'tex_draft_list' %}" method="get" role="search">
        <div class="row align-items-center my-4 justify-content-between">

          <div class="col col-auto">
            <div class="input-group" role="group">
              {{ search_form.search_query }}
              <button type="submit" class="btn btn-outline-primary d-flex align-items-center">
                <span class="material-symbols-outlined">
                  search
                </span>
              </button>
            </div>
          </div>

          <div class="col col-auto">
            <input class="form-check-input"
                   type="checkbox"
                   id="showUserTemplates"
                   name="show_user_tex_drafts"
                   onChange="this.form.submit()"
                   {% if show_user_tex_drafts == "on" %}checked{% endif %}>
            <label class="form-check-label" for="showUserTemplates">
              {%  trans "Show only my templates" %}
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="bg-card-bg-color rounded p-3">
      <div class="row g-3" data-masonry='{"percentPosition": true }'>
        {% for tex_draft in object_list %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            {% include "components/tex_draft_card.html" %}
          </div>
        {% empty %}
          <h4>{% trans "No templates found" %}</h4>
        {% endfor %}
      </div>
    </div>
    {% include 'components/pagination.html' %}
  </div>

{% endblock %}
