{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>createx</title>
  <link rel="stylesheet" href="{% static 'css/createx-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-symbols-outlined.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/nunito-font.css' %}"/>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
<div class="container d-flex flex-column" style="max-width: 1320px; padding-right: 12px; padding-left: 12px; min-height: 100vh;">
  {% include "components/nav.html" %}

  {% include "components/messages.html" %}

  <main class="flex-grow-1">
    {% block content %}
    {% endblock %}
  </main>

  {% include "components/footer.html" %}
</div>

<script src="{%  static 'js/bootstrap.min.js' %}" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>


