{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div class="container">
    <div class="p-5 mb-3 bg-body-tertiary rounded-3 shadow-sm">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Createx</h1>
        <p class="col-md-8 fs-4">
          Elevate your document game and craft stunning PDFs effortlessly.
        </p>
      </div>
    </div>


    <div class="row g-3 align-items-md-stretch">
      <div class="col-lg-6">
        <div class="h-100 p-5 bg-secondary bg-opacity-50 rounded-3 shadow-sm">
          <h2>Library of Templates</h2>
          <p>Explore a treasure trove of templates crafted by our vibrant community of users. Whether it's resumes,
            brochures, or reports, you'll find the perfect template to jumpstart your project.</p>
          <a class="btn btn-dark" type="button" href="{% url "tex_draft_list" %}">Templates library</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="h-100 p-5 bg-body-secondary rounded-3 shadow-sm">
          <h2>Custom Templates, Your Way</h2>
          <p>Take control of your document's look by creating your own unique templates. Our user-friendly template
            editor allows you to design PDFs that match your style, ensuring your documents stand out from the
            crowd.</p>
          <a class="btn btn-secondary" type="button" href="{% url "tex_draft_create" %}">Create template</a>
        </div>
      </div>
    </div>
    <div class="mb-4 rounded-3 d-flex justify-content-center">
      <img src="{% static 'img/index_image.png' %}" class="img-fluid" alt="...">
    </div>
  </div>

{% endblock %}